extends layout
block body
	h2 Logged Out
	p. Just click the button in the top right if you ever want to log back in!
block footer
	div.footer
		| Created by 
		a(href='http://twitter.com/_cpancake') Andrew Rogers
		|. Available on 
		a(href='http://github.com/cpancake/chat.pvrs.us') GitHub
		|.